body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #F5F5F5;
}

h1, h5 {
    font-size: 18px;
    color: #424242;
    font-weight: 600;
}

th {
    color: #424242;
    font-weight: 600;
}

.table td, .table th {
    vertical-align: middle;
}

.modal-header, .modal-footer {
    border: none;
}

.breadcrumb {
    background: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.iconPesquisa {
    width: 20px;
    margin-bottom: -1px;
}

.iconVisualizar {
    width: 25px;
    cursor: pointer;
    color: #757575;
}

